@{
    ViewBag.Title = "Index";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Colorlib Templates">
    <meta name="author" content="Colorlib">
    <meta name="keywords" content="Colorlib Templates">

    <!-- Icons font CSS-->
    <link href="~/Content/bootstrap-files/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="~/Content/bootstrap-files/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">

    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="~/Content/bootstrap-files/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="~/Content/bootstrap-files/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="~/Content/bootstrap-files/css/main.css" rel="stylesheet" media="all">
</head>
<body>
    <div class="page-wrapper bg-gra-01 p-t-180 p-b-100 font-poppins" style="margin: 0% auto; padding: 3% 10%; ">
        <div class="wrapper wrapper--w780">

            <div class="jumbotron" style="background-color:#e3cef8; border-radius:5px;">
                <h1 style="color: #121c57; margin: 0% 5%;">ASP.NET MVC Project</h1>
                <p class="lead" style="margin: 0% 5%; color: #121c57; ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec feugiat at velit eu tempus. In quis fringilla nunc. Donec facilisis posuere massa at venenatis.</p>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <h2>Lorem ipsum dolor sit amet</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec feugiat at velit eu tempus. In quis fringilla nunc. Donec facilisis posuere massa at venenatis.
                </div>
                <div class="col-md-4">
                    <h2>Lorem ipsum dolor sit amet</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec feugiat at velit eu tempus. In quis fringilla nunc. Donec facilisis posuere massa at venenatis.
                </div>
                <div class="col-md-4">
                    <h2>Lorem ipsum dolor sit amet</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec feugiat at velit eu tempus. In quis fringilla nunc. Donec facilisis posuere massa at venenatis.
                </div>
            </div>
        </div>
    </div>
</body>
</html>